*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 250vh;
  overflow-x: hidden;
}



section {
  height: 100vh;
  width: 100%;
  background-color: rgb(86, 95, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image:url(images/pokhara.jpg) ;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: rgb(60, 132, 145);
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  right: 140px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  resize: vertical;
  color: rgb(30, 34, 33);
  font-size: 0.9em;
  width: 100px;
    height: 100px;
    resize: none;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;

}

::placeholder {
  color: rgb(108, 108, 128);
  font-size: 1.2em;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 10px;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

