.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  min-width: 160px;
}

.dropdown-content a {
  color: rgb(247, 240, 240);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  margin-right: 43px;
}

.dropdown-content a:hover {background-color: rgb(109, 91, 91);}

.dropdown:hover .dropdown-content {display: block;}